# Copy this file to `keystore.properties` (at the project root) and fill with your secrets.
# Do NOT commit `keystore.properties` or your keystore file.

# Path to your keystore file (relative to the project root or absolute)
storeFile=keystore/upload-keystore.jks

# Keystore and key credentials
storePassword=19851025Ll2412*
keyAlias=upload
keyPassword=19851025Ll2412*

